BackendDocumentation/ linguist-vendored
BackendDocumentation/* linguist-vendored
BackendDocumentation/**/ linguist-vendored
BackendDocumentation/**/* linguist-vendored
FrontendDocumentation/ linguist-vendored
FrontendDocumentation/* linguist-vendored
FrontendDocumentation/**/ linguist-vendored
FrontendDocumentation/**/* linguist-vendored
