.ant-table-tbody > tr > td {
  border-bottom: 0px !important;
  transition: background 0.3s;
}
  .ant-table table {
    border-radius: 30px;
    border-collapse: separate;
    
  }
  .ant-table-tbody {
    border-collapse: collapse;
    border-radius: 30px;
    border-color:#f0f2f5;

  }

  .ant-table-tbody > tr  {
    border-collapse: collapse;
    border-radius: 30px;
    border-color: #f0f2f5;
  }

  .ant-table-cell > ant-table-cell-row-hover > td  {
    border-collapse: collapse;
    border-radius: 30px;
    border-color: #f0f2f5;
  }
  
  .ant-table-tbody > tr > expanded-row:hover > td {
    border-collapse: collapse;
    border-radius: 30px;
    background:"none";
    background-color:#f0f2f5;
  }
  tr.ant-table-expanded-row > td,
   tr.ant-table-expanded-row:hover > td {
     
    background:"none";
    background-color:#f0f2f5;
  }
  .ant-input-number-input {
    align-self: center;
    text-align: center;
  }