/* table */
 /*.expand-sprints {
    margin-top: "20px";
      margin-bottom: "20px";
  }*//*
  .ant-table-expanded-row .draggable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 1.2rem;
    transform: rotate(90deg);
  }

  .gu-mirror {
    background-color: rgba(16, 142, 233, 0.15);
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }*/
  #components-table-demo-drag-sorting tr.drop-over-downward td {
    border-bottom: 2px dashed #1890ff;
  }
  
  #components-table-demo-drag-sorting tr.drop-over-upward td {
    border-top: 2px dashed #1890ff;
  }
  .ant-table table {
    border-radius: 50%;
    border-collapse: separate;
    
  }
  .ant-table-tbody {
    border-radius: 50%;
    border-color:#f0f2f5;

  }
  .ant-table-tbody > tr  {
    border-radius: 50%;
    border-color: #f0f2f5;
  }
  .ant-table-tbody > tr > expanded-row:hover > td {
    background: none;
    background-color: transparent;
  }
  tr.ant-table-expanded-row > td,
   tr.ant-table-expanded-row:hover > td {
    background:"none";
    background-color:#f0f2f5;
  }
 /*
.expand-bitems {
}
  /* row data 
  ant-table-tbody  {
    background-color: violet;
    /*height: 5px;
    padding: 4px;
  }
  ant-table-tbody > tr > ant-table-row > ant-table-row-level-0 {
      margin-top: "2vh";
      margin-bottom: "2vh";
  }*/