.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  font-family: Arial;
  background-color: #fff;
}
.loginDiv:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50vh;
  height: 60vh;
}
.loginSpan:nth-child(2) {
  font-size: 1.1rem;
  color: #808080;
  margin-bottom: 70px;
}
.errorSpan {
  margin: 10px 0 20px;
  color: red;
}
.loginContainer {
  background-color: black;
  width: 70%;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginLink {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  display: flex;
  align-items: center;
  height: 40px;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loginh1 {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.imgLoginNone {
  display: none;
}

.imgLoginTemp{
  width: 20vh;margin-bottom:2vh; height: 20vh; 
  animation: "spin 2s linear infinite";
}

.imgLoginLogo{
  width: 20vh;margin-bottom:2vh;
}
