.menu {
  /*font-size:'auto';*/
  width:100%;
  break-after: auto;
  max-height: 5vh;
  line-height: 5vh;
  position:relative;
  display:flex;
  justify-content: flex-end;
  border: 0;
  border-bottom: 0px;
  box-shadow: 0 5px 3em lightgray;
  opacity:100;
}
.header {
  height: inherit;
  min-width: 100%;
  background-color: #fff;
}
.menuItem{
  max-height: 5vh;
  /*color: rgba(255, 255, 255, 1);*/
  opacity:100;
}

/*style={{
    breakAfter:"auto",
    position: 'relative',
    display:'flex',
    justifyContent: 'right',
    height:"inherit",
    verticalAlign:"text-top"
  }}*/
