.pokerCard {
  max-height: 30px;
  max-width: 20px;
  align-self: center;
  font-size: 3px;
  text-align: center;
  font-weight:400;
  text-shadow: 0px 0px 1px white;
  margin-left: 35%;
  margin-right: 35%;
  border: thin solid rgb(24, 144, 255, 0.7);
  height: 30px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgb(24, 144, 255, 0.5);
}
.pokerCard .left-icon {
  text-align: center;
  font-size: 3.25px;
  color: #fff;
  margin-top: 2%;
}
.pokerCard .center-icon {
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  color: #fff;
}
.pokerCard .below-center-icon {
  text-align: center;
  font-size: 3px;
  color: #fff;
  vertical-align: center;
}
.pokerCard .right-icon {
  text-align: left;
  color: #fff;
  margin-left: 5%;
}

