tfoot th,
  tfoot td {
    background: #fafafa;
    font-weight: 600;
  }
  [data-theme="dark"] tfoot th,
  [data-theme="dark"] tfoot td {
    background: #1d1d1d;
  }

.summary{
    background:#fafafa;
    font-weight: 600;
}